#aside{
    width: 449px;
    height: 100%;
    background-color: green;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    padding: 0px 0px;

    transition: all 0.5s ease;
}

#section{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: darkslategray;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;

    padding-left: 449px;

    transition: all 0.5s ease;
}

#addingbox{
    padding: 3px;
    border: 0px;
    margin: 0px;
}

.input{
    width: 70px;
    height: 30px;

    border: none;

    margin: -2px;
}

#addingboxbutton{
    width: 446px;
    height: 30px;
    background-color: yellowgreen;
    display: block;

    position: relative;
    top: 5px;
    right: 1.5px;

    border: none;

}
#addingboxbutton:hover{
    background-color: lightgreen;
}

#resetbutton{
    width: 70px;
    height: 30px;
    background-color: darkslategray;
    
    position: absolute;
    bottom: 10px;
    left: 10px;

    border: none;

}
#resetbutton:hover{
    background-color: gray;
}

#starttime{
    width: 66px;
    height: 26px;

    position: absolute;
    bottom: 10px;
    left: 290px;

    border: 2px solid white;
}

#startbutton{
    width: 70px;
    height: 30px;
    background-color: darkolivegreen;
    
    position: absolute;
    bottom: 10px;
    left: 368px;

    border: none;

}
#startbutton:hover{
    background-color: olive;
}

.test{
    display: block;
}




/* #tdest{
    width: 440px; 
    height: 30px; 
    background-color: lightgreen; 

    position: relative;
    left: 4.5px;

    text-align: center;

    margin-top: 5px;

    border-radius: 20px;
} */


